[submodule "dht/Adafruit_Python_DHT"]
	path = dht/Adafruit_Python_DHT
	url = https://github.com/adafruit/Adafruit_Python_DHT.git
[submodule "SCS"]
	path = SCS
	url = https://github.com/julianes10/SCS.git
